*.tlog
*.vcxproj
*.filters
*.cmake
*.txt
*.bin
build/CMakeFiles/3.31.5/CompilerIdC/CMakeCCompilerId.c
*.exe
*.obj
*.recipe
*.rule
*.check_cache
*.yaml
*.stamp
*.depend
*.list
*.dll
*.exp
*.lib
*.sln
*.json
